<img class='logo' src="https://images.ctfassets.net/e4m0suk6oqie/16UOVXJ7fwcEGIguEg6yqs/ee86ad14fff1f3c536c021835411d168/welogo_white.png" />
<div class="app-wrapper">
  <div class="intro-container">
    <div class="intro">
      <h1>Welcome to DocuSign POC</h1>
      <%= button_to "Agreement Console", '/agreements', method: :get, class: 'cool-button' %>
    </div>
  </div>
</div>
