<div>
  <p>Signer 1: <%= @agreement.names %></p>
  <p>Signer 1 Email: <%= @agreement.emails %></p>
  <p>Signature: </p>
  <input type='text' value="" name="DocuSignSignHere" id="DocuSignSign"/>
  <input type='text' value="" name="DocuSignSignHere" id="DocuSignSign"/>
</div>