<div>
  <p>Signer 1: <%= @agreement.names %></p>
  <p>Signer 1 Email: <%= @agreement.emails %></p>
  <p>Signature: </p>
  <input type='text' value="" name="DocuSignSignHere Signer1" />
  <input type='text' value="" name="DocuSignSignHere Signer2" />
  <input type='text' value="" name="DocuSignSignHere Signer3" />
</div>