<div>
  <p>Signer 1: <%= @agreement.name %></p>
  <p>Signer 1 Email: <%= @agreement.emails %></p>
  <p>Signature: </p>
  <input type='text' value="" name="DocuSignSignHere" id="DocuSignSignHere"/>
</div>